/* HTML */

/* HEAD */


/* STYLE */


/* BODY */
body {
    font-family: 'Times New Roman', Times, serif;
}
/* HEADER */

/* Nav */

nav ul {
    list-style-type: none;
    background-color: #333333;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    color: white;
    background-color: #333333;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
}

nav li a:hover {
    background-color: #111111;
    color: dodgerblue;
}

/* SECTION */

/* ARTICLE */

/* ASIDE */

/* FOOTER */
footer {
    background-color: #333333;
    color: white;
    overflow: hidden;
    height: auto;
    width: auto;
}

footer ul {
    list-style-type: none;
}

footer li {
    float: left;
}

footer li a:link {
    text-decoration: none;
    color: white;
    text-align: justify;
    margin: 3.75em;
    padding: 3.75em;
}

footer li a:visited {
    color: white;
    
}

footer li a:hover {
    color: dodgerblue;
}

/* image */
.imageflex { 
    display: flex; 
}

.imageflexcontent { 
    text-align: center;
    margin: 0px 55px;
}